.container{
    background-color: #eeeeee;
    margin: 0 auto;
    padding: 60px 0;
}

h2{
    margin: 0 auto;
    text-align: center;
    color: green;
    margin-bottom:40px ;
}

ul{
    max-width: 960px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

li{
    width: 30%;
    background-color: white;
}

h3{
    color: green;
    margin: 10px;
    border-left: 7px solid green;
    padding-left: 5px;
}
p{
    line-height: 1.5;
    color: #000;
}

@media screen and (max-width: 400px){
 ul{
    flex-direction: column;
    gap: 30px;
 }

 li{
    margin: 0 auto;
    width: 100%;
 }
    
}